@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@400;700&display=swap');






:root {
  /* Fonts */
  --font-heading: 'Kaushan Script', cursive;
  --font-body: 'Raleway', sans-serif;


  /* Brand colors */
  --color-primary: #007acc;   
  --color-secondary: #a5deff;     /* main brand color */
  --color-secondary-background: #f8fbfd;
  --color-background: #f4f7fa;
  --color-accent: #023e8a;     /* general background */
  --color-selected-text: #007acc;
  --color-hover: #023e8a;
  --color-text: #333;              /* primary text color */
  --color-text-light: #fff;        /* light text, for dark backgrounds */
  --color-border: #ccc;            /* borders or separators */

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: .5rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* Border radius */
  --border-radius: 8px;
}



/* Removes Excess Margin and padding */
body {
    margin: 0px;
}



/* Global Font Family and color rules*/
p,
a,
div,
span,
li {
  font-family: var(--font-body);
  color: var(--color-text);
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: var(--font-heading);
  color: var(--color-primary);
}


h1 {
  font-size: 4rem;
}


h2 {
  font-size: 3rem;
}


h3 {
  font-size: 2rem;
}


/* Global Horizontal Rule  */

hr {
  border-color: var(--color-primary);
  border-radius: 50%;
}